body {
    background-color: rgb(12,16,24);
}

img {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;

    padding-right: 5%;
    padding-bottom: 5%;
    height:440px;
}

img:hover {
    height:520px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

iframe {
    top:10%;
    left:10%;
    position:absolute;
    color:white;
    background-color: white;
    width: 80%;
    height: 80%;
    border-style: none;
}

#screenDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(36,36,36,0.95);;
    cursor: pointer;
}

.flex-box {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    justify-content: space-around;
}